<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieDAO">

 	<insert id="insertMovie" parameterType="movie">
	<![CDATA[
		INSERT INTO MOVIE (M_ID, TITLE, GNR, DIRECTOR, RUNNINGTIME, RESTRICT, ONAIR ,POSTER ,IMG1, IMG2, 
		IMG3, IMG4, IMG5,CONTENT,VOTE)
		VALUES ((SELECT NVL(MAX(M_ID),0)+1 FROM MOVIE),
		       #{title}, #{gnr}, #{director}, #{runningtime}, #{restrict}, #{onair} ,#{poster} ,#{img1}, #{img2},       
		#{img3}, #{img4}, #{img5} ,#{content},0) 
	]]>
	</insert>
   
   <update id="updateMovie" parameterType="movie">
      UPDATE MOVIE
         SET TITLE = #{title}, GNR = #{gnr}, DIRECTOR = #{director}, RUNNINGTIME = #{runningtime}
           , RESTRICT = #{restrict}, ONAIR = #{onair}
           , POSTER = #{poster}, IMG1 = #{img1}, IMG2 = #{img2}, IMG3 = #{img3}, IMG4 = #{img4}, IMG5 = #{img5}
           , CONTENT = #{content}, VOTE = #{vote}
       WHERE m_id = #{m_id}
   </update>
   
     
   
   <delete id="deleteMovie" parameterType="movie">
      DELETE FROM MOVIE WHERE m_id = #{m_id}
   </delete>
   
   <select id="getMovie" parameterType="movie" resultType="movie">
      SELECT * FROM MOVIE WHERE M_ID = #{m_id}
   </select>
   
   <select id="getMovieList" resultType="movie">
      SELECT * FROM MOVIE ORDER BY M_ID
   </select>
   
   <select id="getMovieGnr" resultType="movie">
SELECT DISTINCT GNR FROM MOVIE WHERE GNR IS NOT NULL
   </select>
   
   <!-- M_ID TITLE GNR DIRECTOR RUNNINGTIME RESTRICT ONAIR POSTER IMG1 IMG2 
      IMG3 IMG4 IMG5 -->
</mapper>  





