<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성 -->
<mapper namespace="TheaterDAO">
	<resultMap id="theaterResult" type="theater">
		<result property="t_id" column="T_ID" />
		<result property="scr_num" column="SCR_NUM" />
		<result property="name" column="NAME" />
		<result property="phone" column="PHONE" />
		<result property="adress" column="ADRESS" />
		<result property="content" column="CONTENT" />

		<!-- <result property="uploadFile" column="IMG1"/> -->

		<result property="img1" column="IMG1" />
		<result property="img2" column="IMG2" />
		<result property="img3" column="IMG3" />
		<result property="img4" column="IMG4" />
		<result property="img5" column="IMG5" />
		<result property="restraunt_title" column="RESTRAUNT_TITLE" />
		<result property="restraunt_phone" column="RESTRAUNT_PHONE" />
		<result property="restraunt_address" column="RESTRAUNT_ADDRESS" />
	</resultMap>

	<select id="getTheaterList" resultType="theater">
		select * from THEATER
		ORDER BY T_ID
	</select>

	<insert id="insertTheater" parameterType="theater">
	<![CDATA[
		INSERT INTO THEATER (T_ID,NAME,PHONE,ADRESS,CONTENT,SCR_NUM,IMG1,IMG2,IMG3,IMG4,IMG5)
		VALUES ((SELECT NVL(MAX(T_ID),0)+1 FROM THEATER),
		       #{name}, #{phone}, #{adress}, #{content}, #{scr_num}, #{img1}, #{img2}, #{img3}, #{img4}, #{img5}) 
	]]>
	</insert>

	<select id="getTheater" parameterType="theater"
		resultType="theater">
		SELECT * FROM THEATER where T_ID = #{t_id}
	</select>

	<delete id="deleteTheater" parameterType="theater">
		DELETE FROM THEATER
		WHERE t_id = #{t_id}

	</delete>

	<update id="updateTheater" parameterType="theater">
		UPDATE THEATER
		SET NAME
		= #{name}, PHONE = #{phone}, ADRESS = #{adress},
		CONTENT = #{content},
		SCR_NUM = #{scr_num},IMG1 = #{img1}, IMG2 =
		#{img2}, IMG3 = #{img3},
		IMG4 = #{img4}, IMG5 = #{img5} WHERE t_id = #{t_id}
	</update>

	<!-- 극장 상세 조회 -->
	<select id="getTheaterOne" resultMap="theaterResult">
		SELECT * FROM THEATER
		WHERE T_ID = #{t_id}
	</select>

	<!-- 해당 영화 극장 조회 -->
	<select id="getTheater_movieList" resultMap="theaterResult">
		SELECT * FROM
		THEATER
		WHERE T_ID IN (SELECT T_ID FROM SCHEDULE
		WHERE M_ID = #{m_id})
	</select>
		<!-- 관리자 메인에서 쓸것 -->
		<select id="getCountTheater" resultType="int">
		          select count(t_id) from theater
	</select>

</mapper>  





