<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성  -->  
<mapper namespace="UsersDAO">
	<resultMap id="usersResult" type="users">
		<result property="u_id" column="U_ID"/>
		<result property="id" column="ID"/>
		<result property="password" column="PASSWORD"/>
		<result property="name" column="NAME"/>
		<result property="birth" column="BIRTH"/>
		<result property="phone" column="PHONE"/>
		<result property="grade" column="GRADE"/>
		<result property="email" column="EMAIL"/>
	</resultMap>

	<insert id="insertUsers" parameterType="users">
		INSERT INTO USERS (U_ID, ID, PASSWORD, NAME, BIRTH
			 , PHONE, GRADE, EMAIL)
		VALUES(SEQ_USERS.NEXTVAL, #{id}, #{password}, #{name}
			 , #{birth}, #{phone} , #{grade}, #{email} )
	</insert>
	
	<update id="updateUsers" parameterType="users">
		UPDATE USERS 
		   SET PASSWORD = #{password}, NAME = #{name}, NICKNAME = #{nickname}
			 , BIRTH = #{birth}, PHONE = #{phone}, ADD1 = #{add1}, ADD2 = #{add2}
			 , GENDER = #{gender}, GRADE = #{grade}, EMAIL = #{email}
		 WHERE U_ID = #{u_id}
	</update>
	
	<delete id="deleteUsers" parameterType="users">
		DELETE FROM USERS WHERE U_ID = #{u_id}
	</delete>
	
	<select id="getUsers" parameterType="users" resultType="users">
		<!-- resultMap="userResult"> -->
		SELECT * FROM USERS WHERE ID = #{id} AND PASSWORD = #{password}
	</select>
	
	<select id="getUserOne" resultMap="usersResult" parameterType="users">
	<!-- resultMap="userResult"> -->
	SELECT * FROM USERS WHERE U_ID = 1
	</select>
	
	<select id="getUsersList" resultType="users">
		<!-- resultMap="userResult"> -->
		SELECT * FROM USERS ORDER BY U_ID DESC
	</select>
	
	<select id="idcheck" parameterType="users" resultType="int">
	SELECT count(*) FROM USERS WHERE ID = #{id}
	</select>
	
		<select id="getApiUsers" parameterType="users" resultType="users">
		<!-- resultMap="userResult"> -->
		SELECT * FROM USERS WHERE ID = #{id}
	</select>
	
	<update id="updateUsersEmail" parameterType="users">
		UPDATE USERS 
		   SET  EMAIL = #{email}
		 WHERE U_ID = #{u_id}
	</update>
	
	
	
</mapper>  






