<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper 태그의 namespace 속성 필수 작성  -->  
<mapper namespace="UserDAO">
	<resultMap id="userResult" type="user">
		<result property="id" column="ID"/>
		<result property="password" column="PASSWORD"/>
		<result property="name" column="NAME"/>
		<result property="role" column="ROLE"/>
	</resultMap>

	
	<select id="getUser" parameterType="user"
		resultMap="userResult">
		SELECT * FROM USERS WHERE ID = #{id} AND PASSWORD = #{password}
	</select>
</mapper>  






